@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
/* Date Picker Calendar Icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 1;
  filter: invert(82%) sepia(34%) saturate(640%) hue-rotate(356deg)
    brightness(101%) contrast(94%);
}